body{
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    /* margin: 0 2rem; */
    padding: 0;
    margin: auto;
    max-width: 60rem;
}

.alert{
    background-color: #f8d7da;
    color: #721c24;
    padding: 0.5rem;
    margin: 1rem 0;
    border: 0.125rem solid #f5c6cb;
    border-radius: 0.25rem;
}

header{
    border: 0.125rem solid #aaa;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.25rem;
}

.title{
    /* text-align: center; */
    /* margin-top: 2rem; */
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

img{
    width: 5rem;
}

dt{
    font-weight: bold;
}

.dl-table{
    display: flex;
}

table{
    border-collapse: collapse;
    margin: 1rem 0;
    /* width: 100%; */
}

table, th, td{
    border: 0.125rem solid black;
    padding: 1rem;
}

.region{
    /* green */
    background-color: #d4edda;
    color: #155724;
    padding: 1rem;
    margin: 1rem 0;
    border: 0.125rem solid #c3e6cb;
}

details{
    /* padding: 0 1rem; */
    border-top: #333 0.125rem solid;
    border-bottom: #333 0.125rem solid;
}

summary{
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;
}

details p{
    padding: 0 1rem;
}

a:focus,
button:focus,
summary:focus{
    outline:none;
    box-shadow: 0 0 0 0.25rem #F6F6F6, 0 0 0 0.5rem #238CEC;

}